node_modules/
runtime18/
data/

*.log
*.err
*.out
*.db
*.bak

server.err.log
server.out.log
server_stdout.log

cfg_body.json
prod_body.json
prod_cfg.json
response_check.txt
check_response.txt
test_body.json
test_start.json

.DS_Store
Thumbs.db
